* {
    margin: 0;
    padding: 0;
}

.product-wrapper {
    display: block;
    width: 25%;
    float: left;
}

.product {
    display: block;
    border: 1px solid #b5e9a7;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 300px;
}

.product {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo {
	position: absolute;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}

.product p {
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    float: left;
    margin: 10px;
    padding: 10px;
    border: RGB(25, 125, 25) 2px ridge;
    background: #fff
}

.input {
    border-radius: 10px;
    background: none;
    margin-top: 5px;
    width: 100px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearfix {
    display: flex;
    justify-content: center;
    align-items: center;
}
